.p_apply_form_container {
  position: relative;
}

.p_apply_form_container .p_apply_form_title {
  position: relative;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_title {
    margin-bottom: 35px;
  }
}

.p_apply_form_container .p_apply_form_title .title_text {
  position: relative;
  display: block;
  padding: 10px 20px;
  background: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.p_apply_form_container .p_apply_form_step {
  position: relative;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_step {
    margin-bottom: 40px;
  }
}

.p_apply_form_container .p_apply_form_step .step_nav {
  position: relative;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0 0 60px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_step .step_nav {
    font-size: 14px;
    line-height: 20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 45px;
  }
}

.p_apply_form_container .p_apply_form_step .step_nav::after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 12.6%;
  right: 12.6%;
  display: inline-block;
  height: 3px;
  background-image: url(../img/step-mid-line.png);
  background-position: left center;
  background-repeat: repeat-x;
  background-size: auto 3px;
  z-index: 0;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_step .step_nav::after {
    background-size: auto 2px;
    height: 2px;
    bottom: 9px;
  }
}

.p_apply_form_container .p_apply_form_step .step_nav li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 48px;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_step .step_nav li {
    min-height: 40px;
  }
}

.p_apply_form_container .p_apply_form_step .step_nav li::before {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000000;
  background: #ffffff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_step .step_nav li::before {
    width: 20px;
    height: 20px;
    bottom: -45px;
  }
}

.p_apply_form_container
  .p_apply_form_step.step_1
  .step_nav
  li:nth-child(1)::before {
  background: #fffe3b;
}

.p_apply_form_container
  .p_apply_form_step.step_2
  .step_nav
  li:nth-child(2)::before {
  background: #fffe3b;
}

.p_apply_form_container
  .p_apply_form_step.step_3
  .step_nav
  li:nth-child(3)::before {
  background: #fffe3b;
}

.p_apply_form_container
  .p_apply_form_step.step_4
  .step_nav
  li:nth-child(4)::before {
  background: #fffe3b;
}

.p_apply_form_container .main_content_in {
  position: relative;
  max-width: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p_apply_form_container .p_apply_form_description {
  position: relative;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_description {
    margin-bottom: 40px;
  }
}

.p_apply_form_container .p_apply_form_description .lead_text {
  position: relative;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .p_apply_form_description .lead_text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.p_apply_form_container .p_apply_form_description .content {
  position: relative;
  max-width: 614px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p_apply_form_container .p_apply_form_description .content ul {
  font-size: 14px;
  margin-bottom: 8px;
}

.p_apply_form_container .p_apply_form_description .content ul li {
  position: relative;
}

.p_apply_form_container
  .p_apply_form_description
  .content
  ul
  li:not(:last-child) {
  margin-bottom: 8px;
}

.p_apply_form_container .p_apply_form_description .content p {
  margin-bottom: 8px;
}

.p_apply_form_container .p_apply_form_content {
  position: relative;
}

.p_apply_form_container .p_apply_form_inner {
  position: relative;
}

.p_apply_form_container .form_inputs_area {
  position: relative;
  margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_inputs_area {
    margin-bottom: 45px;
  }
}

.p_apply_form_container .form_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_row {
    margin-bottom: 20px;
  }
}

.p_apply_form_container .form_row .col {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  width: 100%;
  padding: 0 15px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_row .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  .p_apply_form_container .form_row .col:not(:last-child) {
    margin-bottom: 20px;
  }
  .p_apply_form_container .form_row .col .input_item {
    margin-bottom: 0 !important;
  }
}

.p_apply_form_container .input_item {
  position: relative;
  margin-bottom: 28px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .input_item {
    margin-bottom: 20px;
  }
}

.p_apply_form_container .input_item .item_label {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .input_item .item_label {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.p_apply_form_container .input_item .item_label .required {
  position: relative;
  display: inline-block;
  margin-left: 18px;
  font-size: 16px;
  font-weight: normal;
  color: #cc0000;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .input_item .item_label .required {
    font-size: 14px;
    margin: 0 8px;
  }
}

.p_apply_form_container .input_item .item_input {
  position: relative;
  vertical-align: middle;
}

.p_apply_form_container .input_item .item_input > * {
  vertical-align: middle;
}

.p_apply_form_container .form_inputs_title {
  position: relative;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_inputs_title {
    margin-bottom: 20px;
  }
}

.p_apply_form_container .form_inputs_title .title_text {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.p_apply_form_container .form_inputs_title.agree_title {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_inputs_title.agree_title {
    margin-bottom: 30px;
  }
}

.p_apply_form_container .form_inputs_title.confirm_title {
  margin-bottom: 45px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_inputs_title.confirm_title {
    margin-bottom: 30px;
  }
}

.p_apply_form_container .form_inputs_title.complete_title {
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_inputs_title.complete_title {
    margin-bottom: 35px;
  }
}

.p_apply_form_container .form_submit_area {
  position: relative;
  margin-top: 90px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_submit_area {
    margin-top: 60px;
  }
}

.p_apply_form_container .form_confirm_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 90px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_confirm_area {
    margin-top: 60px;
  }
}

.p_apply_form_container .btn_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.p_apply_form_container .btn_row .col {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  padding: 0 20px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .btn_row .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  .p_apply_form_container .btn_row .col:not(:last-child) {
    margin-bottom: 20px;
  }
}

.p_apply_form_container .document_input_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p_apply_form_container .document_input_item .item_input {
  position: relative;
  margin-right: 24px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .document_input_item .item_input {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
}

.p_apply_form_container .document_input_item .document_notice {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 422px);
  flex: 0 0 calc(100% - 422px);
  width: calc(100% - 422px);
  padding-left: 26px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .document_input_item .document_notice {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    padding: 10px 0 0;
  }
}

.p_apply_form_container .form_confirm_content {
  position: relative;
}

.p_apply_form_container .form_confirm_content .confirm_table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border: none;
  text-align: left;
  word-break: break-all;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_confirm_content .confirm_table tr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150px 1fr;
    grid-template-columns: 150px 1fr;
    grid-gap: 0;
  }
}

.p_apply_form_container .form_confirm_content .confirm_table th {
  font-weight: 500;
  border: none;
}

.p_apply_form_container .form_confirm_content .confirm_table td,
.p_apply_form_container .form_confirm_content .confirm_table th {
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .form_confirm_content .confirm_table td,
  .p_apply_form_container .form_confirm_content .confirm_table th {
    padding: 6px 0;
  }
}

@media print, screen and (min-width: 769px) {
  .p_apply_form_container
    .form_confirm_content
    .confirm_table
    th:nth-of-type(1) {
    width: 190px;
  }
  .p_apply_form_container
    .form_confirm_content
    .confirm_table
    th:nth-of-type(2) {
    width: 190px;
  }
  .p_apply_form_container
    .form_confirm_content
    .confirm_table
    td:nth-of-type(1) {
    width: 190px;
  }
}

.agreement_th {
  width: unset !important;
}

.p_apply_form_container .thank_you_logo {
  position: relative;
  max-width: 145px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

@media only screen and (max-width: 768px) {
  .p_apply_form_container .thank_you_logo {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
