header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11.4rem;
    background: #F9F9F9;
    padding-left: 8.0rem;
    padding-right: 8.0rem;
    
    .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .right-wrapper {
            display: flex;
            align-items: center;
            column-gap: 1.6rem;
        }
    }
}