@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@300;400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&family=Public+Sans:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

@font-face {
    font-family: 'YuGothic';
    src: url('YuGothB.ttc') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'YuGothic';
    src: url('YuGothM.ttc') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Bold.eot');
    src: local('DIN 2014 Bold'), local('DIN2014-Bold'),
        url('DIN2014-Bold.eot?#iefix') format('embedded-opentype'),
        url('DIN2014-Bold.woff') format('woff'),
        url('DIN2014-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Regular.eot');
    src: local('DIN 2014 Regular'), local('DIN2014-Regular'),
        url('DIN2014-Regular.eot?#iefix') format('embedded-opentype'),
        url('DIN2014-Regular.woff') format('woff'),
        url('DIN2014-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	/* お好きな名前にしましょう */
	src: url('NotoSansCJKjp-Regular.otf');
	/* IE9以上用 */
	src: url('NotoSansCJKjp-Regular.otf') format('embedded-opentype'),
		/* IE8以前用 */
		url('NotoSansCJKjp-Regular.otf') format('otf'),
		/* モダンブラウザ用 */
		url('NotoSansCJKjp-Regular.otf') format('truetype');
	/* iOS, Android用 */
	font-weight: 400;
	/* 念の為指定しておきます */
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	/* お好きな名前にしましょう */
	src: url('NotoSansCJKjp-Medium.otf');
	/* IE9以上用 */
	src: url('NotoSansCJKjp-Medium.otf') format('embedded-opentype'),
		/* IE8以前用 */
		url('NotoSansCJKjp-Medium.otf') format('otf'),
		/* モダンブラウザ用 */
		url('NotoSansCJKjp-Medium.otf') format('truetype');
	/* iOS, Android用 */
	font-weight: 500;
	/* 念の為指定しておきます */
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans CJK JP';
	/* お好きな名前にしましょう */
	src: url('NotoSansCJKjp-Bold.otf');
	/* IE9以上用 */
	src: url('NotoSansCJKjp-Bold.otf') format('embedded-opentype'),
		/* IE8以前用 */
		url('NotoSansCJKjp-Bold.otf') format('otf'),
		/* モダンブラウザ用 */
		url('NotoSansCJKjp-Bold.otf') format('truetype');
	/* iOS, Android用 */
	font-weight: bold;
	/* 念の為指定しておきます */
	font-style: normal;
}