.animation-btn:link,
.animation-btn:visited {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.8rem;
    height: 5.0rem;
    color: #333;
    border: 3px solid #333;
    border-radius: 90px;
    /* 112.5% */
    overflow: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
}

.animation-btn:link:after,
.animation-btn:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: 0;
    transition: all 0.4s ease 0s;
}

.animation-btn:link span,
.animation-btn:visited span {
    position: relative;
    z-index: 3;
    transition: all 0.4s ease 0s;
}

.animation-btn:link:hover span,
.animation-btn:visited:hover span {
    text-shadow: none;
}

.animation-btn:link:hover:after,
.animation-btn:visited:hover:after {
    height: 450%;
}

.btn-yellow {
    background: #FFFE3B;
    border: 2px solid #333;
}

.btn-yellow span {
    color: #333;
}

.btn-yellow:hover span {
    color: #FFF;
}

.btn-yellow:after {
    background: #333;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.btn-yellow:hover:after {
    height: 140%;
    opacity: 1;
}

.btn-black {
    background: #333;
    border: 2px solid #333;
}

.btn-black span {
    color: #FFF;
}

.btn-black:hover span {
    color: #333;
}

.btn-black:after {
    background: #FFFE3B;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.btn-black:hover:after {
    height: 140%;
    opacity: 1;
}