.animation-btn {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.8rem;
    height: 5.0rem;
    color: #333;
    border: 3px solid #333;
    border-radius: 90px;
    /* 112.5% */
    overflow: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
}

.animation-btn:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: 0;
    transition: all 0.4s ease 0s;
}

.animation-btn span {
    position: relative;
    z-index: 3;
    transition: all 0.4s ease 0s;
}

.animation-btn:hover span {
    text-shadow: none;
}

.animation-btn:hover:after{
    height: 450%;
}

.btn-yellow {
    background: #FFFE3B;
    border: 2px solid #333;
}
.btn-yellow span {
    color: #333;
}
.btn-yellow:hover span {
    color: #FFF;
    z-index: 15;
}
.btn-yellow:after {
    background: #333;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}
.btn-yellow:hover:after {
    height: 140%;
    opacity: 1;
}

.btn-black {
    background: #333;
    border: 3px solid #333;
}
.btn-black.animation-btn {
    height: 6.4rem;
    padding: 1.6rem 6.4rem;
}
.btn-black span {
    color: #FFF;
}
.btn-black:hover span {
    color: #333;
    z-index: 15;
}
.btn-black:after {
    background: #FFFE3B;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}
.btn-black:hover:after {
    height: 140%;
    opacity: 1;
}

.btn-white {
    background: #FFF;
    border: 3px solid #333;
}
.btn-white.animation-btn {
    height: 6.4rem;
}
.btn-white span {
    color: #333;
}
.btn-white:hover span {
    color: #333;
    z-index: 15;
}
.btn-white:after {
    background: #FFFE3B;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}
.btn-white:hover:after {
    height: 140%;
    opacity: 1;
}

.animation-btn.btn-faq {
    border-radius: 8px;
    padding: 1.6rem 4.0rem;
    width: fit-content;
}
.btn-faq {
    white-space: nowrap;
    background: #333;
    border: 3px solid #333;
}
.btn-faq.active {
    background: #FFF;
}
.btn-faq.active:after {
    background: unset;
}
.btn-faq span {
    color: #FFF;
}
.btn-faq.active span {
    color: #333;
}
.btn-faq:hover span {
    color: #333;
    z-index: 15;
}
.btn-faq:after {
    background: #FFF;
    opacity: .5;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}
.btn-faq:hover:after {
    height: 140%;
    opacity: 1;
}